In [ ]:
%load_ext sql
%sql sqlite:///data.db
%sql create table foo(bar integer)

In [ ]:
%sql insert into foo values(42)

In [ ]:
import sqlite3
import pandas as pd

dat = sqlite3.connect('data.db')
query = dat.execute("SELECT * From foo")
cols = [column[0] for column in query.description]
results= pd.DataFrame.from_records(data = query.fetchall(), columns = cols)

In [ ]:
results

In [ ]:
results = results.append([{"bar": 42}, {'bar':101}], ignore_index=True)
results

In [ ]:
results.to_sql('foo', con=dat, if_exists='append', index=False)

In [ ]:
%sql select * from foo